<h1>Register as an Owner</h1>


<h1> Sign up </h1>

<%=  form_for(@owner) do |form|  %>

<%= form.label :first_name %>
<%= form.text_field :first_name %><br>

<%= form.label :last_name %>
<%= form.text_field :last_name %><br>


<%= form.label :email %>
<%= form.email_field :email %><br>

<%= form.label :password %>
<%= form.password_field :password %><br>

<p>
<%= form.submit "Create Account" %>
</p>
<% end %>
