<h1>New Item</h1>
<%= form_for(@item) do |f| %>
Name<br>
<%= f.text_field :name %><br>

description
<%= f.text_field :description %><br>

Price<br>
<%= f.text_field :price %><br>

What Restaurant? <br>
<%= f.number_field :restaurant_id %>
<p>
  
<%= f.submit "Create Item" %>
</p>
<% end %>
